alembic
aniso8601
attrs
certifi
charset-normalizer
greenlet
gunicorn
idna
isodate
itsdangerous
Jinja2
lxml
Mako
MarkupSafe
passlib
platformdirs
psycopg2
PyJWT
pandas
python-dotenv
pytz
requests
requests-file
requests-toolbelt
six
SQLAlchemy
typing_extensions
urllib3
uWSGI
Werkzeug
zeep
num2words
unidecode
gunicorn
gevent-websocket
psycopg2
requests